[Unit]
Description=Game Server Manager

[Service]
Type=simple
User=gsmanager
WorkingDirectory=/home/gsmanager
ExecStart=/home/gsmanager/start.sh

[Install]
WantedBy=multi-user.target