[Unit]
Description=Game Server Manager

[Service]
Type=simple
User=gsmanager
WorkingDirectory=/var/www/GS-Manager/api
ExecStart=/var/www/GS-Manager/api/start.sh

[Install]
WantedBy=multi-user.target