[Unit]
Description=Game Server Manager

[Service]
Type=simple
User=gsmanager
WorkingDirectory=/var/www/gsmanager/api
ExecStart=./start.sh

[Install]
WantedBy=multi-user.target